.topbar {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: space-between;
  align-content: center;
  background-color: var(--dark-color);
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px 3px 8px 1px #969696;
  -webkit-box-shadow: 0px 3px 8px 1px #969696;
}

.topbar__resume {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: 0.3s;
}

.topbar__resume:hover {
  border-color: var(--primary-color);
  color: var(--light-color);
}
