@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-rubik text-5xl text-secondary flex justify-center pb-16 pt-16 font-extrabold text-shadow-lg;
  }

  h2 {
    @apply font-rubik text-4xl text-secondary font-bold text-shadow-md;
  }

  h3 {
    @apply font-rubik text-3xl text-secondary text-shadow-md;
  }

  ul {
    list-style-type: square;
  }

  ul li {
    position: relative;
    padding: 0.5rem 0 0.5rem 0.125rem;
  }

  ul li::before {
    font-size: 1.5rem;
    position: absolute;
    top: 2px;
    left: 0;
  }
}
